In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("credit card taiwan.csv")
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24.0,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26.0,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,NaN,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,NaN,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2018.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57.0,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39.0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43.0,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37.0,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41.0,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46.0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [4]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           2
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [5]:
df['default.payment.next.month'].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [4]:
x=df['AGE'].mean()

In [5]:
x

35.48549903326889

In [6]:
df1=df.fillna(x)

In [7]:
df1.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [15]:
x=df1.drop(['default.payment.next.month'],axis=1)
y=df1['default.payment.next.month']

In [9]:
from sklearn.model_selection import train_test_split

In [17]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.25,random_state=1)

### Support Vector Machine

In [18]:
from sklearn.svm import SVC

In [19]:
model=SVC()

In [20]:
model.fit(xtrain,ytrain)

SVC()

In [22]:
model.score(xtest,ytest)

0.7776

### Decision Tree

In [23]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
DTC=DecisionTreeClassifier()

In [25]:
DTC.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [26]:
DTC.score(xtest,ytest)

0.7225333333333334

### Random Forset

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
RFC=RandomForestClassifier()

In [33]:
RFC.fit(xtrain,ytrain)

RandomForestClassifier()

In [34]:
RFC.score(xtest,ytest)

0.8156

### Naive Bayes (Gaussian)

In [35]:
from sklearn.naive_bayes import GaussianNB

In [36]:
GB=GaussianNB()

In [37]:
GB.fit(xtrain,ytrain)

GaussianNB()

In [38]:
GB.score(xtest,ytest)

0.3848

### Naive Bayes (Bernoulli)

In [39]:
from sklearn.naive_bayes import BernoulliNB

In [40]:
BNB=BernoulliNB()

In [41]:
BNB.fit(xtrain,ytrain)

BernoulliNB()

In [42]:
BNB.score(xtest,ytest)

0.7713333333333333